
<h1><%= @name %></h1>

<ul>
  <li>Email: <%= @email%></li>
  <li>Interests: <%= @interests.join(', ') %></li>
</ul>

<ul>
  <% @users.each do |name, _|%>
    <% unless name == @name %>
      <li><a href="<%= name %>"><%= name %></a>
    <% end %>
  <% end %>
</ul>